@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mindig fényes kft.</h1>
</div>

<h1>Kérem adja meg a hiba helyét!</h1>
<form action="HibaBe" method="post">
    <h1>Irányítószám</h1>
    <input type="text" name="irszam" />
    <h1>Város</h1>
    <input type="text" name="varos" />
    <h1>Utca</h1>
    <input type="text" name="utca" />
    <input type="submit" value="Kuldes" />
</form>